<!-- !DOCTYPE html> -->
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Rose Collections</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area ">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<!-- <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li> -->
									<li class="nav-item"><a class="nav-link" href="/products">Products </a></li>
									<li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/wishlist">Wishlist</a></li>
									<li class="nav-item"><a class="nav-link" href="/orders">Your Orders</a></li>									
									
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Profile</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="userprofile">User Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="/addaddress">Add Address</a></li>
								</ul>
							</li>
							<!-- <li class="nav-item submenu dropdown active">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item active"><a class="nav-link" href="/signin">Signin</a></li> -->
									<!-- <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li> -->
								<!-- </ul>
							</li> -->
							<!-- <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span class="ti-bag" ></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>						
						</ul>
						<ul class="nav navbar-nav menu_nav ml-25">
						<li class="nav-item submenu dropdown active">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false">My Account </a>
							<ul class="dropdown-menu">
								<li class="nav-item "><a class="nav-link" href="/signin">Signin</a></li>
								<li class="nav-item"><a class="nav-link" href="/signout">Signout</a></li>
							</ul>
						</li>
						</ul>

					</div>
				</div>
			</nav>
		</div>

		<div class="search_input" id="search_input_box">
		<!-- <div class="search_input" id="search"> -->
			<div class="container">
				<form class="d-flex justify-content-between" id="search_form" action="/search" method="GET">
					<input  type="text" class="form-control" id="search_input" name ="query"placeholder="Search Products">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->


	<!-- Style for My account -->
	<style>
		.ml-25{
			margin-left: 25px;
		}
	</style>
		

        <div>

        </div>


<!-- start banner Area -->

 <!-- Carousel Start -->
 <div class="container-fluid mb-3" style="padding-top:100px; ">
    <div class="row px-xl-5">
      <div class="col-lg-8">
          <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0 " data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                  <% for(let i=1;i<banner.length;i++){ %>
                  <li data-target="#header-carousel" data-slide-to="<%= i %>"></li>
                  <% } %>
              </ol>
              <div class="carousel-inner">
                  <div class="carousel-item position-relative active" style="height: 430px; padding-left: 50px;">
                      <img class="position-absolute w-100 h-100" src="/uploadProductImage/<%= banner[0].images %>" style="object-fit: cover;">
                     
                        
                  </div>
                  <% for(let i=1;i<banner.length;i++){ %>''
                  <div class="carousel-item position-relative" style="height: 430px; padding-left: 50px;">
                      <img class="position-absolute w-100 h-100" src="uploadProductImage/<%= banner[i].images %>" style="object-fit: cover;">
                      
                     
                  </div>
                  <% } %>                
              </div>
          </div>
      </div>      
    </div>
  </div>
  <!-- Carousel End -->


<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap" style="padding-top:25px; padding-bottom:50px">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Return option available</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Continuos support</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>COD and Online Payment available</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->

<!-- Products area -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h1>Latest Products</h1>
                <p>Latest collections of all types of jewellery available here!!!.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <% products.forEach(function(product) { %>
            <% if (product.status === 'Listed') { %>
        <!-- single product -->
        <div class="col-lg-3 col-md-6">
            <div class="single-product">
                <img class="img-fluid" src= "/uploadProductImage/<%= product.image[0] %>" alt="">
                <div class="product-details">                    
                    <a href="/productdetails/<%= product._id %>">
                        <h6><%= product.productname %></h6>
                      </a>
                    <div class="price">
                        <h6>Rs <%= product.price %></h6>
                        <h6 class="l-through"><%= product.mrp %></h6>
                        <% if(product.offer) { %>
                            <p style="font-weight: 900; color:#E0115F;">
                                (<%= product.offer.discountPercentage %> % <%= product.offer.specialConditions %>)</p>                            
                        <% } %>
                    </div>
                    <div class="prd-bottom">

                       
                    </div>
                </div>
            </div>
        </div>
        <!-- single product -->
        <% } %>
        <% }); %>
    </div>
</div>





<!-- Start brand Area -->

<!-- End brand Area -->


      
<%- include('../partials/userFooter.ejs') %>




<script>



    document.addEventListener("DOMContentLoaded", () => {
      const wrapper = document.querySelectorAll(".product");
      wrapper.forEach((item) => {
        item.addEventListener("click", (event) => {
          const idDiv = item.querySelector('#_id');
          window.location.href = `/productdetails/${idDiv.innerHTML}`;
        });
      });
    });
  
  </script>