<%- include('../partials/userHeader.ejs') %>

  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/orderdetails">Order Details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<div class="row">
    <!-- <div class="col-75"> -->
        <div class="container">


            <div class="row1">
                <!-- <div class="col-50"> -->
                    <section class="content-main">
                        <div class="content-header">
                            <div>
                                <h2 >Order detail</h2>
                                <p>Details for Order ID: <%= order._id %>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <header class="card-header">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-lg-6">
                                        <span>
                                            <i class="material-icons md-calendar_today"></i> <b>
                                                <%= new Date(order.createdAt).toLocaleString('en-US', { weekday: 'short'
                                                    , month: 'short' , day: 'numeric' , year: 'numeric' ,
                                                    hour: 'numeric' , minute: 'numeric' , hour12: true })%>
                                            </b>
                                        </span> <br>
                                        <small class="text-muted">Order ID: <%= order._id %></small>
                                    </div>

                                    <input name="id" value="<%= order._id %>" hidden />
                                    <div class="text-end">

                                        <% if(order.orderStatus==='pending' ||order.orderStatus==='placed' ){%>
                                           
                                            <button class="genric-btn danger" onclick="cancelOrder('<%= order._id %>')" >Cancel Order</button></a>
                                        <%} else if(order.orderStatus==='Delivered' ) { %>
                                            <button class="genric-btn info" onclick="invoiceGenerate('<%= order._id %>')" 
                                                href="#">Download Invoice</button>
                                            <button class="genric-btn warning radius" onclick="returnOrder('<%= order._id %>')" >Return Order</button></a>
                                        <% } %>
                                                    <!-- order stat- delivered, here -->
                                                    <!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> -->
                                    </div>

                                </div>
                            </header> <!-- card-header end// -->

                            <div class="card-body">
                                <div class="row mb-50 mt-20 order-info-wrap">
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-person"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Customer:</h6>
                                                <p class="mb-1">
                                                    <%= order.user.name %> <br> <template class="__cf_email__"
                                                            data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                                        <%= order.user.phonenumber %>
                                                </p>
                                                <!-- <a href="#">View profile</a> -->
                                            </div>
                                        </article>
                                    </div> <!-- col// -->

                                    <!-- <div class="col-md-4">
                                    </div> -->
                                </div> <!-- row // -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">Product</th>
                                                        <th width="20%">Unit Price</th>
                                                        <th width="20%">Quantity</th>
                                                        <th width="20%" class="text-end">Total</th>
                                                    </tr>
                                                </thead>
                                                <% order.items.forEach(function(item) { %>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a class="itemside d-flex" href="#">
                                                                    <div class="left">
                                                                        <img src="/uploadProductImage/<%= item.productId.image[0] %>"
                                                                            width="40" height="40" class="img-xs"
                                                                            alt="Item">
                                                                    </div>
                                                                    <div class="info">
                                                                        <%= item.productId.productname %>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <%= item.price %>
                                                            </td>
                                                            <td>
                                                                <%= item.quantity %>
                                                            </td>
                                                            <td class="text-end">
                                                                <%= item.price * item.quantity %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>


                                                            <tr>
                                                                <td colspan="4">
                                                                    <article class="float-end ">
                                                                        <dl class="dlist d-flex">
                                                                            <dt>Subtotal:</dt>
                                                                            <dd>₹<%= order.totalAmount %>
                                                                            </dd>
                                                                        </dl>
                                                                        <!-- disc amt -->
                                                                        <dl class="dlist d-flex">
                                                                            <dt>Grand total:</dt>
                                                                            <dd> <b class="h6">₹<%= order.finalPrice %>
                                                                                        </b> </dd>
                                                                        </dl>

                                                                    </article>
                                                                </td>
                                                            </tr>
                                                    </tbody>
                                            </table>
                                        </div> <!-- table-responsive// -->
                                    </div> <!-- col// -->
                                </div>     <!-- row ending-->        

                               <!-- <div class="col-lg-1"></div> -->

                               <div class="row"> 
                                    <div class="col-lg-4">   <!-- payment info  -->
                                        <!-- <div class="box shadow-sm bg-light"> -->
                                            <h6 class="mb-15">Payment info</h6>
                                            <p class="text-capitalize">
                                                <%= order.paymentMode %>

                                            </p>
                                        <!-- </div> -->
                                    </div>
                                    <div class=" col-lg-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-place"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Deliver to:</h6>
                                                <p class="mb-1">
                                                    <%= order.address.city %>, <%= order.address.state %><br>
                                                            <%= order.address.address %> <br>
                                                                <%= order.address.pincode %>
                                                </p>

                                            </div>
                                        </article>
                                        <dl class="dlist d-flex">
                                            <dt class="text-muted">Status:</dt>
                                            <dd>
                                                <span
                                                    class="badge rounded-pill alert-success text-success text-capitalize">
                                                    <%= order.orderStatus %>
                                                </span>
                                            </dd>
                                        </dl>

                                    </div> <!-- col// -->
                                 </div>    

                                
                            </div> <!-- card-body end// -->
                        </div> <!-- card end// -->
                    </section>
                <!-- </div> -->
            </div>
        </div>
    <!-- </div> -->
</div>


<%- include('../partials/userFooter.ejs') %>


<script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>

<script>

//  function cancelOrder(orderId) {
//     Swal.fire({
//         title: 'Are you sure you want to Cancel the order?',
//         text: "You won't be able to revert this!",
//         icon: 'warning',
//         showCancelButton: true,
//         confirmButtonColor: '#d33',
//         cancelButtonColor: '#3085d6',
//         confirmButtonText: 'Yes, Cancel it!'
//     }).then((result) => {
//         if (result.isConfirmed) {
//             console.log("Just before cancel toastt")
//           Toastify({
//           text: 'The order is Cancelled',
//           duration: 3000,
//           gravity: "bottom", 
//           position: "center",
//           style: {
//           background: "#FF5350",
//           }, 
          
//           //animation: { show: { effect: "FadeIn" }, hide: { effect: "FadeOut" } } 
//           }).showToast() 
                 
//                 console.log("Before navigation");
//                 window.location.href = `/editorderdetails/${orderId}?action=cancel`;
//                 console.log("After navigation");
        
//         }
//     });
// }


async function cancelOrder(orderId) {
    const result = await Swal.fire({
        title: 'Are you sure you want to Cancel the order?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, Cancel it!'
    });

    if (result.isConfirmed) {
        console.log("Just before cancel toast");

        // Use a Promise to introduce a delay before showing the toast message
        const delay = (ms) => new Promise(resolve => setTimeout(resolve, ms));

        await delay(1000); // Adjust the delay time (in milliseconds) as needed

        Toastify({
            text: 'The order is Cancelled',
            duration: 3000,
            gravity: "bottom",
            position: "center",
            style: {
                background: "#FF5350",
            },
        }).showToast();

        console.log("Before navigation");
        window.location.href = `/editorderdetails/${orderId}?action=cancel`;
        console.log("After navigation");
    }
}



function returnOrder(orderId) {
    Swal.fire({
        title: 'Are you sure you want to Return the order?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, Return it!'
    }).then((result) => {
        if (result.isConfirmed) {
            // If the user confirms the action, perform the deletion
            window.location.href = `/editorderdetails/${orderId}?action=return`;
        }
    });
}


/////////////////////////////////////////////////invoice //////////////////////////////

const orderList = JSON.parse('<%- JSON.stringify(order) %>');

function invoiceGenerate(id) {
    console.log("Order id =, in fntion invoiceGenerate", id);
    let order = orderList
    console.log("Order =, in fntion invoiceGenerate",order)
    let products = order.items   
    console.log("Productsss =, in fntion invoiceGenerate",products);

    let invoiceProducts = [];
    for (let i = 0; i < products.length; i++) {
      invoiceProducts.push({
        "quantity": products[i].quantity,
        "description":products[i].productId.productname,
        "tax-rate": 0,
        "price": products[i].price
      });          
    }  

    var data = {
      // Customize enables you to provide your own templates
      // Please review the documentation for instructions and examples
      "customize": {
        //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
      },
      "images": {
        // The logo on top of your invoice
        "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
        // The invoice background
        "background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
      },
      // Your own data
      "sender": {
        "company": "Bakestore",
        "address": "HighRoad Thrissur",
        "zip": "680582",
        "city": "Thrissur",
        "country": "India"
        //"custom1": "custom value 1",
        //"custom2": "custom value 2",
        //"custom3": "custom value 3"
      },
      // Your recipient
      "client": {
        "company": order.user.firstname,
        "email": order.user.email,
        "phone": order.user.phonenumber,
        "address": order.address.address,
        // "street": order.address.Street,
        "city": order.address.city,
        "zip": order.address.pincode,
        "state": order.address.state,
        // "country": order.address.state,
        // "custom1": "custom value 1",
        // "custom2": "custom value 2",
        // "custom3": "custom value 3"
      },
      "information": {
        // Invoice number
        "number": order._id,
        // Invoice data
        "date": new Date(order.createdAt).toLocaleDateString(),
        "due-date":0
      },
      // The products you would like to see on your invoice
      // Total values are being calculated automatically
      "products":invoiceProducts,
      // The message you would like to display on the bottom of your invoice
      "bottom-notice": "Thanks for purchasing from us..",

      // Settings to customize your invoice
      "settings": {
        "currency": "INR"
        // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
        // "locale": "nl-NL", // Defaults to en-US, used for number formatting (See documentation 'Locales and Currency')        
        // "margin-top": 25, // Defaults to '25'
        // "margin-right": 25, // Defaults to '25'
        // "margin-left": 25, // Defaults to '25'
        // "margin-bottom": 25, // Defaults to '25'
        // "format": "A4", // Defaults to A4, options: A3, A4, A5, Legal, Letter, Tabloid
        // "height": "1000px", // allowed units: mm, cm, in, px
        // "width": "500px", // allowed units: mm, cm, in, px
        // "orientation": "landscape", // portrait or landscape, defaults to portrait
      },
      // Translate your invoice to your preferred language
      "translate": {
        // "invoice": "FACTUUR",  // Default to 'INVOICE'
        // "number": "Nummer", // Defaults to 'Number'
        // "date": "Datum", // Default to 'Date'
        // "due-date": "Verloopdatum", // Defaults to 'Due Date'
        // "subtotal": "Subtotaal", // Defaults to 'Subtotal'
        // "products": "Producten", // Defaults to 'Products'
        // "quantity": "Aantal", // Default to 'Quantity'
        // "price": "Prijs", // Defaults to 'Price'
        // "product-total": "Totaal", // Defaults to 'Total'
        // "total": "Totaal", // Defaults to 'Total'
        // "vat": "btw" // Defaults to 'vat'
      },
    };

    // Create your invoice! Easy!

    easyinvoice.createInvoice(data, function (result) {
      // The response will contain a base64 encoded PDF file
      console.log('PDF base64 string: ', result.pdf);
      var base64Data = result.pdf;


      //Convert the base64 data to a Blob object
      var byteCharacters = atob(base64Data);
      var byteNumbers = new Array(byteCharacters.length);
      for (var i = 0; i < byteCharacters.length; i++) {
        byteNumbers[i] = byteCharacters.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      var blob = new Blob([byteArray], { type: 'application/pdf' });

      // Create a temporary download link and trigger the download
      var link = document.createElement('a');
      link.href = URL.createObjectURL(blob);
      link.download = 'invoice.pdf';
      link.click();
    });
  }
       
</script>