<%- include('../partials/userHeader.ejs') %>


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Products Sorted</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>

                        <% if(sortOption=== '2')  { %>
                            <a href="#">Price: Low to High</a>
                    
                        <% } else if(sortOption==='3') {%>
                        <a href="#">Price: High to Low</a>
                       
                        <% } else {%>
                            <a href="#">Sorted Products</a>
                         <% } %>

					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->


	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>

					
					<ul class="main-categories">
						<% category.forEach(function(item) {%>
						<li class="main-nav-list"><a href="/categoryproducts/<%= item.categoryid %>">
							<%= item.catname %><span class="number">(<%=item.count %>)</span></a>
							
						</li>
						<% }) %>
					
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head"></div>

                    <div class="common-filter">
						<div class="head"></div>
						<div class="price-range-area">
							<!-- <div id="price-range"></div> -->
							<div class="value-wrapper d-flex">
								<div class=""></div>
								<span></span>
								<div ></div>
								<div></div>
								<span></span>
								<div ></div>
							</div>
						</div>
					</div>

					<div class="common-filter">
						<div class="head"></div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black"
										name="color"><label for="black"><span></span></label></li>													
							</ul>
						</form>
					</div>
					
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">			
					<form id="sortForm">
						<div class="sorting">
							<% if(sortOption=="2" ) { %>
								<p style="color: white; margin-bottom: 0px">Price: Low to High</p>
								<% } else if(sortOption=="3" ) { %>
								<p style="color: white; margin-bottom: 0px">Price: High to Low</p>
								<%} %>
						</div>
					</form>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<% products.forEach(function(product) { %>
							<% if (product.status==='Listed' ) { %>
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="/uploadProductImage/<%= product.image[0] %>" alt="">
										<div class="product-details">
											<a href="/productdetails/<%= product._id %>">
												<h6><%= product.productname %></h6>
											  </a>
											<div class="price">
												<h6>Rs <%= product.price %>
												</h6>
												<h6 class="l-through">
													<%= product.mrp %>
												</h6>
											</div>
											
										</div>
									</div>
								</div>
							<% } %>
						<% }); %>
									

					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<!-- <select>
						<option value="1">Show 12</option>
						<option value="1">Show 12</option>
						<option value="1">Show 12</option>
					</select> -->
					</div>

					<!-- my pagination code below -->
					<div class="pagination-area mt-30 mb-50">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-start">
								<% for(let i=1; i<=totalPages;i++) { %>
									<% if(i===currentPage){ %>
										<li class="page-item active"><a class="page-link" href="#">
												<%= i %>
											</a></li>
										<% } else { %>
											<li class="page-item"><a class="page-link" 
                                                href="/sortedproducts?sortOption=<%=sortOption%>&page=<%= i %>">
													<%= i %>
												</a></li>
											<% } %>
												<% } %>

								
							</ul>
						</nav>
					</div>




					<!-- my pagination code ends here -->
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->

	<!-- End related-product Area -->


	<%- include('../partials/userFooter.ejs') %>

	

    <script>
        $(document).ready(function () {
            $('#sortOption').change(function () {
                const selectedOption = $(this).val();
    
                // Redirect the user based on the selected option
                if (selectedOption === '2') {
                    window.location.href = '/sortedproducts?sortOption=2'; // Redirect to low to high
                } else if (selectedOption === '3') {
                    window.location.href = '/sortedproducts?sortOption=3'; // Redirect to high to low
                }
            });
        });
    </script>
    