<%- include('../partials/userHeader.ejs') %>



 <!-- Start Banner Area -->
 <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<% let totalPriceSum = 0 %>
<% let totalPrice =0 %>
<% let priceafteroffer= 0%>
<% let i=0%>
<% if(cart.products.length==0) { %>
<div class="container-fluid mt-100">
    <div class="row px-xl-5">
      <div class="col-md-12">
        <div class="card">
            <div class="card-body cart">
              <div class="col-sm-12 empty-cart-cls text-center">
                
                <img src="https://i.imgur.com/dCdflKN.png" width="100" height="130" class="img-fluid mb-4 mr-3">
                <h3><strong>Your Cart is Empty!</strong></h3>
                <h4>Check for wide range of accessories collections</h4>
                <a href="/home" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue shopping</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width:5%;">Sl.No.</th>
                            <th scope="col" style="width:35%;">Product</th>
                            <th scope="col" style="width:10%;;">Price</th>
                            <th scope="col" style="width:15%;">Quantity</th>
                            <th scope="col" style="width:15%;">Offer (%)</th>
                            <th scope="col" style="width:15%;">Total</th>
                            <th scope="col" style="width:5%;">Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        <% cart.products.forEach(function(item) { %>
                        <% totalPrice = item.product.price * item.quantity; %> 
                        <% priceafteroffer= 0 %>
                        <% i++ %>

                        <% if(item.product.offer) { %>
                            <% priceafteroffer = totalPrice * (1- (item.product.offer.discountPercentage / 100)) %>
                            <% totalPrice = priceafteroffer %>
                        <% } %>

                        <% totalPriceSum += totalPrice; %>                         
                        
                              <tr class="cartPrice" data-price="<%= item.product.price%>" data-id="<%= item.product._id %>"
                                data-stock="<%= item.product.stock%>">

                                  <td class="align-middle num"><%=i%></td>
                                  <td class="align-middle"><img src="/uploadProductImage/<%= item.product.image[0] %>" alt="" style="width: 50px;"><%= item.product.productname %></td>
                                  <td class="align-middle price">₹<%= item.product.price.toFixed(2) %></td>

                                <!-- Qty updation -->                               

<!-- ////////////////////////////////////////////////////////// -->
                                  <td>
                                    <div class="product_parent d-inline-block position-relative"  >
                                        <input type="text" name="qty" maxlength="12" value="<%= item.quantity %>" title="Quantity:"
                                            class="input-text qty inputQuantity z-10" style="width: 100px; height:40px;" disabled>

                                        <button onclick= "incFunction(this)"
                                            class="increase items-count position-absolute border-0" style="top:0; right:0;"  type="button"><i class="lnr lnr-chevron-up"></i></button>

                                        <button onclick= "decFunction(this)"
                                            class="reduced items-count position-absolute border-0" style=" bottom:0 ; right:0;" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                              
                                <!-- Qty updation ends -->

                                <!-- including offer price, if there -->
                                <td class="align-middle offer-price">
                                    <% if(item.product.offer) { %>
                                    <%= item.product.offer.discountPercentage  %>   
                                    <% } %>
                                </td> 

                                  <td class="align-middle total-price">
                                     
                                    ₹<%= totalPrice.toFixed(2)  %>
                                </td>
                                <td class="align-middle">
                                    
                                        <button class="btn btn-sm btn-danger" onclick="deleteItem('<%= cart._id %>', '<%= item.product._id %>')">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </a>
                                </td>
                             </tr>
                    <% }); %>                   
                      <!-- taking closing brackets frm here -->
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td>  <h5>Subtotal</h5> </td>
                            <td>
                                <h5 class="tot-price-sum"> ₹<%= totalPriceSum.toFixed(2) %></h5>
                                <!-- <h5 class="total-price-sum"> </h5> -->
                            </td>
                        </tr>
                      <!--adding closing herer  -->
              
                        <tr class="out_button_area">
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="/home">Continue Shopping</a>
                                    <a class="primary-btn" href="/checkout">Proceed to checkout</a>
                                    <!-- <button class=" primary-btn" onclick="proceedToCheckout()">Proceed To Checkout</button> -->
            
                                </div>
                            </td>
                        </tr>         
                    </tbody>
                </table>
            </div>
        </div>          
    <!-- container -->
    </div>     
    <% } %>
      
</section>

<!--================End Cart Area =================-->

<%- include('../partials/userFooter.ejs') %>


<script>
    
    // Cart Quantity updation
    
 function incFunction(e)   {
  let parent = e.closest('.cartPrice')
  let qty = parent.querySelector('.inputQuantity')
  let total = parent.querySelector('.total-price')
  let offerStr = parent.querySelector('.offer-price').textContent
  let offer = parseInt(offerStr, 10);
  let totalPriceSum = document.querySelector('.tot-price-sum').innerText
  
  console.log("in inc function,offer= ", offer)
  let price = parent.getAttribute('data-price')
  let id = parent.getAttribute('data-id')
  let stock = parseInt(parent.getAttribute('data-stock'))
  console.log("Product stock = ", stock)
  //console.log("Type of stock= ", typeof stock)

  console.log("qty.value = ",qty.value)
 // console.log("Type of qty= ", typeof parseInt(qty.value))

  if(parseInt(qty.value) > stock){
    Toastify({
           text: 'Cant add items more than stock',
           duration: 3000,
           gravity: "bottom", 
           position: "center",
           style: {
         background: "#FF5350",
        }, 
           }).showToast();
        return;
  }

  qty.value++
 // stock--

  let tot
  tot = price * qty.value
  if(offer)  tot = tot * (1- (offer/100))
  //total.innerText = price * qty.value
  total.innerText = '₹' + tot.toFixed(2)
  calculateTotal()
  updateCart(id, qty.value)

 }

 function decFunction(e)   {
  let parent = e.closest('.cartPrice')
  let qty = parent.querySelector('.inputQuantity')
  let total = parent.querySelector('.total-price')
  let offerStr = parent.querySelector('.offer-price').textContent
  let offer = parseInt(offerStr, 10);
  let totalPriceSum = document.querySelector('.tot-price-sum').innerText
  let stock = parseInt(parent.getAttribute('data-stock'))

  console.log("in decrem function,offer= ", offer)
  console.log("Product stock = ", stock)

  if(qty.value >1){
    qty.value--
    //stock++
    let price = parent.getAttribute('data-price')
    let id = parent.getAttribute('data-id')


    let tot
    tot = price * qty.value
    if(offer)  tot = tot * (1- (offer/100))

    total.innerText = '₹' + tot.toFixed(2)
    console.log("Price = , tot= ", price, tot)
    calculateTotal()
    updateCart(id, qty.value)
  }  
 }

 //////////////////////////////////////////////
 
 function calculateTotal(){
    const items = document.querySelectorAll('.total-price')
    const total = document.querySelector('.tot-price-sum')
    let totalPrice = 0
    items.forEach(it=>{
        totalPrice += Number(it.innerText.split('₹')[1])
    })
    total.innerText = '₹' + totalPrice.toFixed(2).toString()
}

//////////////////////////////////////////////

function updateCart(id, qty){
    fetch(`/updatecart`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ productId:id, quantity:qty }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                        } else {
                           
                        }
                    })
                    .catch(error => {
                        Toastify({ text: "Sorry, something went wrong" }).showToast();
                    })           
}


/////////////////////////////////////////////////////for alert box=> while deleting////////////////////// Sweetalert2

function deleteItem(cartId, productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {

            Swal.fire({
                        title: 'The item is deleted from the cart',
                        icon: 'success',
                        showConfirmButton: true,
                        }).then(() => {
                        window.location.href = `/cart/${cartId}/product/${productId}` ;
                        });
        }
    });
}

//////////////////////////////////////////////




</script>



